@import url(../../dijit/themes/claro/claro.css);
@import url(../../dijit/themes/claro/document.css);

.claro {
	font-size: 1em;
}

.view {
	padding: .5em;
}

.view h2 {
	margin-top: 0;
	text-align: center;
	display: inline-block;
}

.form-row {
	padding: .3em;
}

.newEntryView .form,
.listView table,
.summaryView table {
	margin-bottom: 1em;
}

table {
	width: 100%;
	table-layout: fixed;
}
.listView tr:hover {
	cursor: pointer;
	background: #ddd;
}
td, th {
	padding: .4em;
	overflow: hidden;
	text-overflow: ellipsis;
}
td.amount {
	text-align: right;
}

.dijitRadio {
	margin: .6em !important;
}

.dj_gecko .claro .dijitTextBox .dijitInputInner,
.claro .dijitTextBox .dijitInputInner,
.claro .dijitTextBox .dijitPlaceHolder,
.claro .dijitButton .dijitButtonNode,
.dijitButtonNode.dijitDownArrowButton {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	min-width: 44px;
	min-height: 44px;
	padding: 10px !important;
}

.claro .dijitTextBox .dijitInputField {
	padding: 0;
}
.claro .dijitComboBox .dijitButtonNode {
	padding: 12px 14px !important;
	background: #f2f2f2;
	border: none;
}
.claro .dijitComboBox .dijitArrowButtonInner {
	border: none;
}

.claro .dijitTextBox,
.claro .dijitButton .dijitButtonNode {
	background: #fff;
	box-shadow: none;
	border: 2px solid #ddd;
	border-radius: 4px;
}
.claro .dijitButton .dijitButtonNode:hover,
.claro .dijitButton .dijitButtonNode:focus,
.claro .dijitButton .dijitButtonNode:active {
	background: #eee;
	border: 2px solid #ccc;
}

.claro .dijitButton.create .dijitButtonNode {
	background: #eee;
	border: 2px solid #ddd;
}
.claro .dijitButton.create .dijitButtonNode:hover,
.claro .dijitButton.create .dijitButtonNode:focus,
.claro .dijitButton.create .dijitButtonNode:active {
	background: #ddd;
	border: 2px solid #ccc;
}

.claro .dijitButton.delete .dijitButtonNode {
	background: #f44;
	border: 2px solid #c11;
	color: #fff;
}
.claro .dijitButton.delete .dijitButtonNode:hover,
.claro .dijitButton.delete .dijitButtonNode:focus,
.claro .dijitButton.delete .dijitButtonNode:active {
	background: #d33;
	border: 2px solid #b00;
}

.dijitButton.full-width {
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.dijitButton.full-width .dijitButtonNode {
	width: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-left: 0;
	margin-right: 0;
}

.dijitButton.destructive * {
	color: #f32;
}

.row.toggle {
	margin-top: 1em;
	overflow: hidden;  /* clear */
}
.row.toggle .dijitButton {
	float: left;
	margin: 0;
	width: 50%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.row.toggle .dijitButton .dijitButtonNode {
	width: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* new entry view */
.newEntryView .dijitTextBox {
	width: 18em;
}
.participantInput .dijitComboBox {
	width: 146px;
	margin-right: 8px;
}
.participantInput .dijitNumberTextBox {
	width: 74px;
	margin-right: 8px;
}
.newEntryView .destructive {
	margin-top: .5em;
}

.boxView .dijitTextBox {
	width: 201px;
}
.boxView .row.boxes {
	margin: 1em 0;
}

#summary table {
	border-collapse: collapse;
}

#transactions .transaction {
	padding: .5em 0;
	border-top: 1px solid #ddd;
}
#transactions .transaction:first-child {
	border-top: none;
}
#transactions .transaction .title,
#transactions .transaction date {
	display: table-cell;
	vertical-align: top;
}
#transactions .transaction .title {
	width: 100%;
	line-height: 1.1em;
}
#transactions .transaction date {
	padding-left: 1em;
	white-space: nowrap;
}
#transactions .transaction .payments {
	margin-top: .5em;
}
#transactions .transaction date,
#transactions .transaction .payments {
	font-size: 68%;
}


/* remove click outlines */
* {
	outline: none;
}
::-moz-focus-inner {
	border: 0;
}
