@import url(../../dijit/themes/claro/claro.css);
@import url(../../dijit/themes/claro/document.css);

.claro {
	font-size: 1em;
}

.view {
	padding: 1em;
}

.view h2 {
	margin-top: 0;
	text-align: center;
	display: inline-block;
}

.form-row {
	padding: .3em;
}

.newEntryView .form,
.listView table,
.summaryView table {
	margin-bottom: 1em;
}

table {
	width: 100%;
	table-layout: fixed;
}
.listView tr:hover {
	cursor: pointer;
	background: #ddd;
}
td, th {
	padding: .4em;
	overflow: hidden;
	text-overflow: ellipsis;
}
td.amount {
	text-align: right;
}

.dijitRadio {
	margin: .6em !important;
}

.dijitButton.full-width {
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.dijitButton.full-width .dijitButtonNode {
	width: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-left: 0;
	margin-right: 0;
}

.row.toggle {
	margin-top: 1em;
	overflow: hidden;  /* clear */
}
.row.toggle .dijitButton {
	float: left;
	margin: 0;
	width: 50%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.row.toggle .dijitButton .dijitButtonNode {
	width: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* new entry view */
.newEntryView .dijitTextBox {
	width: 17em;
}
.participantInput .dijitComboBox {
	width: 150px;
	margin-right: 8px;
}
.participantInput .dijitNumberTextBox {
	width: 74px;
	margin-right: 8px;
}

.boxView .dijitTextBox {
	width: 201px;
}
.boxView .row.boxes {
	margin: 1em 0;
}

#summary table {
	border-collapse: collapse;
	margin: 1em 0 0;
}

#transactions {
	margin: 1em 0 0;
}
#transactions .transaction {
	padding: .5em 0;
	border-bottom: 1px solid #ddd;
}
#transactions .transaction:first-child {
	border-top: 1px solid #ddd;
}
#transactions .transaction .title,
#transactions .transaction date {
	display: table-cell;
	vertical-align: top;
}
#transactions .transaction .title {
	width: 100%;
	line-height: 1.1em;
}
#transactions .transaction date {
	padding-left: 1em;
	white-space: nowrap;
}
#transactions .transaction .payments {
	margin-top: .5em;
}
#transactions .transaction date,
#transactions .transaction .payments {
	font-size: x-small;
}
