@import url(../../dijit/themes/claro/claro.css);
@import url(../../dijit/themes/claro/document.css);

.view {
	padding: 1em;
}

.form-row {
	padding: .3em;
}

.form-hint {
	font-size: .7em;
	color: gray;
}
