<div>
	<span class="participant">
		<input data-dojo-type="dijit/form/TextBox" data-dojo-attach-point="participantInput" data-dojo-attach-event="onBlur:_setValue" placeholder="Name …">
	</span>
	<span class="participationStatus">
		<span data-dojo-type="dijit/form/ToggleButton" data-dojo-attach-point="joinedButton">joined</span>
		<span data-dojo-type="dijit/form/ToggleButton" data-dojo-attach-point="paidButton">paid</span>
		<input name="amount" data-dojo-type="dijit/form/NumberTextBox" data-dojo-attach-point="amountInput" class="hidden">
	</span>
</div>
