<div class="view">
	<div class="header">
		<span data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick:_onChangeBoxClick">
			<svg height="15" width="15" style="opacity:.5">
				<path d="m0 0v3h15v-3h-15zm0 6v3h15v-3h-15zm0 6v3h15v-3h-15z"/>
			</svg>
		</span>
		<h2 data-dojo-attach-point="boxNameNode"></h2>
	</div>
	<div class="row">
		<span data-dojo-type ="dijit.form.Button" data-dojo-attach-event="onClick:_onNewEntryClick" class="full-width create">Add transaction</span>
	</div>
	<div data-dojo-attach-point="contentNode">
		<div class="row toggle">
			<span disabled="disabled" data-dojo-type ="dijit.form.Button">People</span>
			<span data-dojo-type ="dijit.form.Button" data-dojo-attach-event="onClick:_onListClick">Transactions</span>
		</div>
		<div class="row">
			<div id="summary" data-dojo-attach-point="summaryNode"></div>
		</div>
	</div>
	<div data-dojo-attach-point="emptyNode" class="empty-info">
		<article>
			<p>
				A tab consists of transactions. When you add a transaction you also define the people that are part of it, the participants.
			</p>
		</article>
	</div>
</div>
