<div class="view listView">
	<div class="header">
		<span data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick:_onChangeBoxClick">
			<svg height="15" width="15" style="opacity:.5">
				<path d="m0 0v3h15v-3h-15zm0 6v3h15v-3h-15zm0 6v3h15v-3h-15z"/>
			</svg>
		</span>
		<h2 data-dojo-attach-point="boxNameNode"></h2>
	</div>
	<div class="row">
		<span data-dojo-type ="dijit.form.Button" data-dojo-attach-event="onClick:_onNewEntryClick" class="full-width create">Add transaction</span>
	</div>
	<div class="row toggle">
		<span data-dojo-type ="dijit.form.Button" data-dojo-attach-event="onClick:_onPeopleClick">People</span>
		<span disabled="disabled" data-dojo-type ="dijit.form.Button">Transactions</span>
	</div>
	<div class="row">
		<div id="transactions" data-dojo-attach-point="listNode"></div>
	</div>
</div>
