<div class="view">
	<h2>Gruppenkasse</h2>
	<h3 data-dojo-attach-point="boxChooserHeadingNode">Kassenauswahl</h3>
	<div class="row">
		<input id="newBoxOption" data-dojo-type="dijit.form.RadioButton" name="box" value="newBox">
		<input id="newBoxInput" data-dojo-type="dijit.form.ValidationTextBox" name="newBoxName" data-dojo-attach-event="onFocus:_selectNewBox">
	</div>
	<div class="row">
		<span data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick:_onOkClick">Ok</span>
	</div>
	<hr>
	<div class="row">
		<span data-dojo-type ="dijit.form.Button" data-dojo-attach-event="onClick:_onRefreshDataClick">Daten von Server laden</span>
	</div>
	<div class="row">
		<span data-dojo-type ="dijit.form.Button" data-dojo-attach-event="onClick:_onSaveDataClick">Daten auf Server sichern</span>
	</div>
</div>
