<div class="view">
	<h2 data-dojo-attach-point="boxNameNode"></h2>
	<div class="row">
		<span data-dojo-type ="dijit.form.Button" data-dojo-attach-event="onClick:_onNewEntryClick">New entry</span>
	</div>
	<div class="row">
		<span data-dojo-type ="dijit.form.Button" data-dojo-attach-event="onClick:_onListClick">List all entries</span>
	</div>
	<div class="row">
		<div data-dojo-attach-point="summaryNode"></div>
	</div>
	<div class="row">
		<span data-dojo-type ="dijit.form.Button" data-dojo-attach-event="onClick:_onChangeBoxClick">Switch tab</span>
	</div>
</div>
