<div class="view">
	<span data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick:_onChangeBoxClick">Tabs</span>
	<h2 data-dojo-attach-point="boxNameNode"></h2>
	<div class="row">
		<span data-dojo-type ="dijit.form.Button" data-dojo-attach-event="onClick:_onNewEntryClick" class="full-width">New entry</span>
	</div>
	<div class="row toggle">
		<span disabled="disabled" data-dojo-type ="dijit.form.Button">People</span>
		<span data-dojo-type ="dijit.form.Button" data-dojo-attach-event="onClick:_onListClick">Transactions</span>
	</div>
	<div class="row">
		<div id="summary" data-dojo-attach-point="summaryNode"></div>
	</div>
</div>
