<div class="view">
	<h2>Kasse „<span data-dojo-attach-point="boxNameNode"></span>“</h2>
	<div class="row">
		<span data-dojo-type ="dijit.form.Button" data-dojo-attach-event="onClick:_onNewEntryClick">neuer Posten</span>
	</div>
	<div class="row">
		<span data-dojo-type ="dijit.form.Button" data-dojo-attach-event="onClick:_onListClick">alle Posten auflisten</span>
	</div>
	<div class="row">
		<span data-dojo-type ="dijit.form.Button" data-dojo-attach-event="onClick:_onSummaryClick">Gesamtabrechnung</span>
	</div>
	<hr>
	<div class="row">
		<span data-dojo-type ="dijit.form.Button" data-dojo-attach-event="onClick:_onChangeBoxClick">andere Kasse auswählen</span>
	</div>
</div>
