<div class="view newEntryView">
	<div class="row">
		<span data-dojo-type ="dijit.form.Button" data-dojo-attach-event="onClick:_onCancelClick">Cancel</span>
		<span data-dojo-type ="dijit.form.Button" data-dojo-attach-event="onClick:_onOkClick">Save</span>
	</div>
	<h2>New entry</h2>
	<div class="form">
		<div class="form-row">
			<div class="form-row-label">
				<label for="newEntryTitle">Title:</label>
			</div>
			<div class="form-row-input">
				<input id="newEntryTitle" name="title" data-dojo-type="dijit.form.ValidationTextBox">
			</div>
		</div>
		<div class="form-row">
			<div class="form-row-label">
				<label for="newEntryDate">Date:</label>
			</div>
			<div class="form-row-input">
				<input id="newEntryDate" name="date" data-dojo-type="dijit.form.DateTextBox" data-dojo-props="value: new Date()">
			</div>
		</div>
		<div class="form-row">
			<div class="form-row-label">
				<label>Participants (Amount):</label>
			</div>
			<div class="form-row-input" data-dojo-attach-point="participantsNode">
				
			</div>
			<div data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick:_onPlusParticipantClick">+</div>
		</div>
	</div>
</div>
