<div class="view newEntryView">
	<div class="header">
		<span data-dojo-type ="dijit.form.Button" data-dojo-attach-event="onClick:_onCancelClick">×</span>
		<h2 data-dojo-attach-point="headingNode"></h2>
	</div>
	<div class="form">
		<div class="form-row">
			<div class="form-row-input">
				<input id="newEntryTitle" name="title" placeholder="Title" data-dojo-type="dijit.form.ValidationTextBox">
			</div>
		</div>
		<div class="form-row">
			<div class="form-row-input">
				<input id="newEntryDate" name="date" data-dojo-type="dijit.form.DateTextBox" data-dojo-props="value: new Date()">
			</div>
		</div>
		<div class="form-row">
			<div class="form-row-input" data-dojo-attach-point="participantsNode"></div>
		</div>
		<div class="form-row">
			<div class="form-row-input" data-dojo-attach-point="newParticipantsNode">
				<div class="newParticipantInput">
					<input data-dojo-type="dijit.form.TextBox" data-dojo-attach-point="newParticipantInput" placeholder="New participant …">
				</div>
				<span data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick:_onNewParticipantClick" data-dojo-attach-point="addNewParticipantButton" class="participantAdd" disabled>Add</span>
			</div>
		</div>
	</div>
	<div class="row">
		<span data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick:_onOkClick" class="full-width create">Save</span>
	</div>
	<div class="row" data-dojo-attach-point="deleteButtonNode">
		<span data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick:_onDeleteClick" class="full-width delete">Delete</span>
	</div>
</div>
