/* ==========================================================================
   Hoodie Sign In / Sign Up / Sign out stylings
   ========================================================================== */

/* hide contents until we know if user is signed in or not */
body .hoodie-account-signedin,
body .hoodie-account-signedout,
body .hoodie-account-error {
  display: none;
}

html[data-hoodie-account-status=signedin]  .hoodie-account-signedin,
html[data-hoodie-account-status=error]     .hoodie-account-error,
html[data-hoodie-account-status=signedout] .hoodie-account-signedout {
  display: block;
}

.hoodie-accountbar {
  position: absolute;
  top: 20px;
  right: 10px;
}

.row {
  margin-left: 0;  /* overwrite bootstrap */
}
