<div class="view boxView">
	<div class="header">
		<img id="logo" src="images/favicon-touch.png" alt=""/>
		<h2>Grouptabs</h2>
	</div>
	<div class="row boxes" data-dojo-attach-point="boxesNode"></div>
	<div class="row no-boxes" data-dojo-attach-point="noBoxesNode">
		<article>
			<p>
				With Grouptabs you can track expenses in a group of people.
				Every group or every topic has its own tab.
			</p>
			<p>
				Give it a fitting name like "Roadtrip 2014" or "Badminton".
			</p>
		</article>
	</div>
	<div class="row">
		<input class="full-width" data-dojo-type="dijit.form.ValidationTextBox" data-dojo-attach-point="newBoxTextBox" placeholder="New tab …">
		<span data-dojo-type="dijit.form.Button" data-dojo-attach-event="onClick:_onOkClick" class="create">Create</span>
	</div>
</div>
