@font-face {
	font-family: SourceSansPro-Regular;
	src: url(/fonts/SourceSansPro-Regular.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: SourceSansPro-Semibold;
	src: url(/fonts/SourceSansPro-Semibold.ttf) format('truetype');
	font-weight: normal;
	font-style: normal;
}

.claro {
	font-size: 18px;
	background: #f2f2f2;
	font-family: SourceSansPro-Regular, sans-serif;
}

.hidden {
	visibility: hidden;
}

.header {
	width: 100%;
	height: 44px;
	margin-bottom: 1em;
}
.header h2 {
	position: absolute;
	top: 7px;
	margin-left: 12px;
	font-size: 22px;
}
.header .dijitButton {
	margin: 0;
}
.header .dijitButton .dijitButtonText {
	margin-top: -4px;
}
.header #logo {
	width: 44px;
}

.scene h2 {
	margin-top: 0;
	text-align: center;
	display: inline-block;
}

article {
	padding: 10px;
}
article p {
	margin: 0 0 1em;
}

.form-row {
	padding: 3px 0;
	position: relative;
}
.form-row-input {
	position: relative;
}

.dijitToggleButton,
.dijitButton,
.dijitDropDownButton,
.dijitComboButton {
	margin: 0;
}

.dijitPlaceHolder {
	font-style: normal;
}

.dijitButtonContents {
	line-height: 100%;
	margin-top: -1px;
}

.claro .dijitButtonText {
	padding: 2px 0 0;
}

.editEntryScene .form,
.editEntryScene .button-row,
.listScene table {
	margin-bottom: 1em;
}

table {
	width: 100%;
	table-layout: fixed;
}
td, th {
	padding: .4em;
	overflow: hidden;
	text-overflow: ellipsis;
}
td.amount {
	text-align: right;
}

.dijitRadio {
	margin: .6em !important;
}

.dj_gecko .claro .dijitTextBox .dijitInputInner,
.claro .dijitTextBox .dijitInputInner,
.claro .dijitTextBox .dijitPlaceHolder,
.claro .dijitButton .dijitButtonNode,
.claro .dijitToggleButton .dijitButtonNode,
.dijitButtonNode.dijitDownArrowButton {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	min-width: 44px;
	min-height: 44px;
	padding: 10px !important;
}
.dijitTextBox .dijitInputInner {
	background: transparent;  /* firefox mobile has a gradient otherwise */
}

.claro .dijitTextBox .dijitInputField {
	padding: 0;
}
.claro .dijitComboBox .dijitButtonNode {
	padding: 12px 14px !important;
	background: #ddd;
	border: none;
}
.claro .dijitComboBox .dijitArrowButtonInner {
	border: none;
}

.claro .dijitTextBox,
.claro .dijitButton .dijitButtonNode,
.claro .dijitToggleButton .dijitButtonNode {
	background: #fff;
	box-shadow: none;
	border: none;
	border-radius: 0;
}
.claro .dijitButton .dijitButtonNode,
.claro .dijitToggleButton .dijitButtonNode {
	background: #ddd;
}
.claro .dijitButton .dijitButtonNode:hover,
.claro .dijitButton .dijitButtonNode:focus,
.claro .dijitButton .dijitButtonNode:active,
.claro .dijitToggleButton .dijitButtonNode:hover,
.claro .dijitToggleButton .dijitButtonNode:focus,
.claro .dijitToggleButton .dijitButtonNode:active {
	background: #d6d6d6;
	border-color: #ccc;
}

.claro .dijitToggleButton .dijitButtonNode {
	background: #ddd;
	color: #777;
}
.claro .dijitToggleButton.dijitToggleButtonChecked .dijitButtonNode {
	background: #bbb;
	color: #000;
}

.claro .dijitButton.create .dijitButtonNode {
	background: #44f;
	color: #fff;
	border-color: #ddd;
}
.claro .dijitButton.create .dijitButtonNode:hover,
.claro .dijitButton.create .dijitButtonNode:focus,
.claro .dijitButton.create .dijitButtonNode:active {
	background: #33e;
	border-color: #ccc;
}

.claro .dijitButton.delete .dijitButtonNode {
	background: #f44;
	border-color: #c11;
	color: #fff;
}
.claro .dijitButton.delete .dijitButtonNode:hover,
.claro .dijitButton.delete .dijitButtonNode:focus,
.claro .dijitButton.delete .dijitButtonNode:active {
	background: #e33;
	border-color: #b00;
}

.dijitButton.full-width,
.dijitButton.full-width-margin {
	display: block;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.claro .dijitTextBox.full-width,
.claro .dijitButton.full-width .dijitButtonNode {
	width: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-left: 0;
	margin-right: 0;
	border-right: none;
	border-left: none;
	border-radius: 0;
}
.claro .dijitTextBox.full-width-margin,
.claro .dijitButton.full-width-margin .dijitButtonNode {
	width: 96%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-left: 2%;
	margin-right: 2%;
}

.dijitButton.destructive * {
	color: #f32;
}

.row.toggle {
	margin-top: 1em;
	overflow: hidden;  /* clear */
}
.row.toggle .dijitButton {
	float: left;
	margin: 0;
	width: 50%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.row.toggle .dijitButton .dijitButtonNode {
	width: 100%;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.row.toggle .dijitButtonDisabled .dijitButtonNode {
	color: #000;
	font-family: SourceSansPro-Semibold, sans-serif;
	border: none;
	background: transparent;
}


/* edit entry scene */
.editEntryScene .header .dijitButtonNode {
	font-size: 28px;
	line-height: 100%;
	color: #666;
	padding: 6px 0 0 !important;
	width: 44px;
}

.editEntryScene .dijitCheckBox {
	margin: 14px;
}
.editEntryScene .dijitTextBox {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	width: 100%;
}
.editEntryScene .form-row-input {
	display: table;
	width: 100%;
}
.participantInput,
.newParticipantInput {
	color: #999;
	height: 45px;
	display: table-row;
	width: 100%;
}
.participantInput.selected {
	color: inherit;
}
.participantInput .participant {
	display: table-cell;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 10px;
}
.newParticipantInput .participant {
	display: table-cell;
	width: 50%; /* make input field use more available width */
}
.participantInput .participationStatus,
.newParticipantInput .participationStatus {
	display: table-cell;
	text-align: right;
	width: 210px;
}
.participantInput .joined-button,
.newParticipantInput .joined-button {
	width: 70px;  /* estimate auto width so we can use transition */
	overflow: hidden;
}
.participantInput.ready .joined-button,
.newParticipantInput.ready .joined-button {
	-webkit-transition: width .3s;
	-moz-transition: width .3s;
	transition: width .3s;
}
.participantInput .joined-button.hidden,
.newParticipantInput .joined-button.hidden {
	width: 0;
}
.participantInput .dijitNumberTextBox,
.newParticipantInput .dijitNumberTextBox {
	width: 70px;
	text-align: right;
}
.participantInput.ready .dijitNumberTextBox,
.newParticipantInput.ready .dijitNumberTextBox {
	-webkit-transition: width .3s;
	-moz-transition: width .3s;
	transition: width .3s;
}
.participantInput .dijitNumberTextBox.hidden,
.newParticipantInput .dijitNumberTextBox.hidden {
	width: 0;
}
.editEntryScene .dijitButton.delete {
	width: 30%;
}
.editEntryScene .dijitButton.create:not(.full-width-margin) {
	width: 68%;
	float: right;
}
.button-row {
	margin: 0 2%;
}
.button-row .dijitButton .dijitButtonNode {
	width: 100%;
}
.participantsAllJoined {
	float: right;
}


.tabsScene .row.tabs {
	margin: 1em 0;
}
.tabs .dijitButton {
	border: 0 solid #ddd;
	border-bottom-width: 1px;
}
.tabs .dijitButton:first-child {
	border-top-width: 1px;
}
.claro .tabs .dijitButton .dijitButtonNode {
	background: transparent url(/images/arrow.svg) right center no-repeat;
	text-align: left;
}
.claro .tabsScene .dijitTextBox .dijitInputInner {
	padding-right: 90px !important;
}
.tabsScene .dijitButton.create {
	position: relative;
	float: right;
	top: -44px;
}
.tabsScene .dijitButton.create .dijitButtonNode {
	border-radius: 0;
	border: none;
}


#summary table {
	border-collapse: collapse;
}
#summary tr {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 44px;
}
#summary th,
#summary td {
	padding: 10px;
}

#transactions .transaction {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 8px 35px 8px 10px;
	border-top: 1px solid #ddd;
	min-height: 44px;
	cursor: pointer;
	background: url(/images/arrow.svg) right center no-repeat;
}
#transactions .transaction:first-child {
	border-top: none;
}
#transactions .dategroup {
	background: #ddd;
	margin: 8px 0 0;
	padding: 2px 10px;
	font-size: 12px;
}
#transactions .transaction table {
	table-layout: auto;
	border-collapse: collapse;
	width: 100%;
	margin: 0;
}
#transactions .transaction .title {
	line-height: 1.1em;
	width: 100%;
	padding: 0;
}
#transactions .transaction .total {
	line-height: 1.1em;
	white-space: nowrap;
	padding: 0;
	vertical-align: middle;
}
#transactions .transaction .payments {
	margin-top: 2px;
	font-size: 12px;
}

.mainScene > .header,
.listScene > .header {
	visibility: hidden;
}

/* remove click outlines */
* {
	outline: none;
}
::-moz-focus-inner {
	border: 0;
}

