:root {
  /* fonts from bootstrap */
  --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --dark-color: #131314;
  --light-color: #fff;
  --color-primary: #44f;
  --color-primary-opposite: #fff;
  --color-highlight: rgba(68, 68, 255, 0.1);
  --color-error: #f44;
  --color-error-light: rgba(255, 68, 68, 0.1);
  --main-text-color: var(--dark-color);
  --main-background-color: var(--light-color);
  --subtle-text-color: #707071;
  --text-input-background-color: #f5f5f6;
  --button-background-color: var(--text-input-background-color);
  --button-disabled-background-color: var(--subtle-text-color);
  --button-selected-background-color: #fff;
  --button-selected-text-color: var(--color-primary);
  --list-item-divider-color: #e5e5e6;
  --border-radius: 5px;
  --border-radius-pill: 100px;
  --font-size: 18px;
  --font-size-large: 22px;
  --font-size-small: 14px;
}
@media (prefers-color-scheme: dark) {
  :root {
    --main-text-color: var(--light-color);
    --main-background-color: var(--dark-color);
    --subtle-text-color: #818182;
    --button-background-color: #525253;
    --button-selected-background-color: #686869;
    --text-input-background-color: #343435;
    --list-item-divider-color: var(--text-input-background-color);
  }
}

html,
body,
#root {
  height: 100%; /* vh doesn't take variable browser chrome into account */
}

body {
  margin: 0;
  color: var(--main-text-color);
  font-size: var(--font-size);
  background: var(--main-background-color);
  font-family: var(--font-family-sans-serif);
}

h1,
h2,
h3 {
  font-size: var(--font-size-large);
  font-weight: bold;
}

a,
a:link,
a:visited,
a:active {
  color: var(--color-primary);
  text-decoration: none;
  border-bottom: 1px dotted;
}

::selection {
  background-color: var(--color-highlight);
  color: var(--color-primary);
}

code {
  font-family: var(--font-family-monospace);
}

table {
  width: 100%;
  border-collapse: collapse;
}
td,
th {
  padding: 10px 12px;
}
th {
  text-align: left;
  font-weight: normal;
}
td.amount {
  text-align: right;
}

button {
  font: inherit;
  background: var(--button-background-color);
  color: inherit;
  border: none;
  box-sizing: border-box;
  min-height: 44px;
  min-width: 44px;
  padding-left: 12px;
  padding-right: 12px;
  margin: 0;
  border-radius: var(--border-radius);
  cursor: pointer;
}
button[disabled] {
  cursor: default;
  color: var(--button-disabled-background-color);
}
button.selected {
  background: var(--button-selected-background-color);
  color: var(--button-selected-text-color);
}

select {
  cursor: pointer;
  margin: 0;
  padding: 12px;
  padding-right: 32px;
  color: var(--main-text-color);
  border-radius: var(--border-radius);
  border: none;
  background-color: var(--button-background-color);
  background-image: linear-gradient(
      45deg,
      transparent 50%,
      var(--button-disabled-background-color) 50%
    ),
    linear-gradient(135deg, gray 50%, transparent 50%);
  background-position: calc(100% - 22px) calc(1em + 5px),
    calc(100% - 17px) calc(1em + 5px);
  background-size: 5px 5px, 5px 5px;
  background-repeat: no-repeat;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
  /* Chrome needs this for some reason … */
  font-size: var(--font-size) !important;
  font-family: var(--font-family-sans-serif) !important;
}

button.full-width,
select.full-width {
  display: block;
  width: 100%;
}

.header button {
  height: 44px;
  width: 44px;
  margin: 4px;
}
button.create {
  background-color: var(--color-primary);
  color: var(--color-primary-opposite);
  border: 2px solid var(--color-primary);
  z-index: 10;
}
.header button.create {
  border-radius: var(--border-radius-pill);
}
button.create:hover,
button.create:focus {
  background-color: var(--main-background-color);
  color: var(--color-primary);
  border-color: var(--color-primary);
}
.header button.create:hover path,
.header button.create:focus path {
  fill: var(--color-primary);
}
/* larger '+' Plus in button */
.mainScene .header button.create {
  font-size: 30px;
}
/* Position adjustment for checkmark icon in button vs "+" which is text */
.header button.create svg {
  padding-top: 5px;
  padding-left: 1px;
}

.header button.left {
  background-color: transparent;
  padding: 4px 10px 0;
  border-radius: var(--border-radius-pill);
}
.header button.left path {
  fill: var(--subtle-text-color);
}
.header button.left:hover,
.header button.left:focus {
  background-color: var(--color-highlight);
}
.header button.left:hover path,
.header button.left:focus path {
  fill: var(--color-primary);
}

.editEntryScene .button-row {
  margin-top: 2em;
  text-align: center;
}
.editEntryScene button.add-participant,
.editEntryScene button.all-joined {
  background-color: transparent;
  color: var(--subtle-text-color);
  font-size: var(--font-size-small);
}
.editEntryScene button.add-participant:hover,
.editEntryScene button.add-participant:focus,
.editEntryScene button.all-joined:hover,
.editEntryScene button.all-joined:focus {
  color: var(--main-text-color);
}
.editEntryScene button.all-joined {
  float: right;
}
.tab {
  display: block;
  width: 50%;
  float: left;
}
.tab.active {
  background: inherit;
  color: inherit;
  font-weight: bold;
}

button.delete {
  color: var(--color-error);
  background: transparent;
  font-size: var(--font-size-small);
}
button.delete:hover,
button.delete:focus {
  background: var(--color-error-light);
}

input[type="text"],
input[type="date"],
input[type="number"] {
  box-sizing: border-box;
  width: 100%;
  background: var(--text-input-background-color);
  box-shadow: none;
  border: none;
  border-radius: var(--border-radius);
  color: inherit;
  min-height: 44px;
  min-width: 44px;
  padding: 10px 12px;
  font: inherit;
  margin: 0; /* Safari has 2px */
}

.scenes {
  height: 100%;
  max-width: 500px;
  min-width: 280px;
  margin: 0 auto;
  overflow: hidden;
}
.scenes-container {
  height: 100%;
  display: flex;
  width: 300%;
  transition: transform 400ms;
}
.scenes-container-active-2 {
  transform: translate3d(-33.33%, 0, 0);
}
.scenes-container-active-3 {
  transform: translate3d(-66.66%, 0, 0);
}
.scene {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;
}
@media (min-width: 500px) and (min-height: 780px) {
  .scene {
    padding-top: 4vh;
    height: calc(100% - 4vh);
  }
  .content {
    padding-bottom: 4vh;
  }
}

.header {
  height: 56px;
  position: relative;
  display: flex;
  justify-content: space-between;
}
.tabsScene .header,
.errorScene .header {
  justify-content: center;
  align-items: center;
  margin-top: 2em;
}
.header::after {
  opacity: 0;
  transition: opacity 400ms;
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  height: 10px;
  background: linear-gradient(
    rgba(0, 0, 0, 0.2),
    rgba(0, 0, 0, 0.1) 10%,
    transparent
  );
  z-index: 1;
}
@media (prefers-color-scheme: dark) {
  .header::after {
    background: linear-gradient(
      rgba(0, 0, 0),
      rgba(0, 0, 0, 0.8) 10%,
      transparent
    );
  }
}
.header.elevated::after {
  opacity: 1;
}
.header h2 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 150%;
  margin: 0;
  align-self: center;
}
.header #logo {
  width: 44px;
  height: 44px;
  border-radius: var(--border-radius-pill);
  padding: 8px;
}

.content {
  padding-top: 0.5em;
  flex: 1;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

.content-with-footer {
  display: flex;
  flex-direction: column;
}
.content-with-footer main {
  flex: 1;
}
.content-with-footer footer {
  padding: 10px 10px 15px;
  text-align: center;
  font-size: var(--font-size-small);
  color: var(--subtle-text-color);
}

.empty-info,
.share-info {
  padding: 10px;
}
.empty-info p,
.share-info p {
  margin: 0 0 1em;
  line-height: 135%;
}
.share-info {
  margin-top: 1em;
  color: var(--subtle-text-color);
  font-size: var(--font-size-small);
  text-align: center;
}

.form-row {
  position: relative;
}
.form-row-input {
  position: relative;
}

.form-row-input.description input {
  padding-right: 90px;
  text-overflow: ellipsis;
  font-weight: bold;
}

.form-row-input.transaction-type {
  position: absolute;
  right: 0;
  top: 0;
  width: auto !important;
}
.form-row-input.transaction-type select {
  margin-top: 1px;
  font-size: var(--font-size-small) !important;
  opacity: 0.5;
  background-color: transparent;
  border: none;
}
.form-row-input.transaction-type select:hover,
.form-row-input.transaction-type select:focus {
  opacity: 1;
}

.direct-transaction {
  padding-bottom: 24px;
}
.direct-transaction-amount {
  display: flex;
  justify-content: center;
  margin: 12px 6px;
}
.direct-transaction-amount svg {
  display: block;
  padding: 16px 30px 8px;
}
.direct-transaction-amount svg path {
  fill: var(--subtle-text-color);
}
.direct-transaction-amount input {
  width: 70px;
  text-align: center;
}

.row-label {
  margin: 1em 2% 0.3em;
}

/* Whitespace to sides */
.editEntryScene .form,
.tabsScene main {
  margin-left: 5px;
  margin-right: 5px;
}

.editEntryScene .form,
.editEntryScene .button-row,
.listScene table {
  margin-bottom: 1em;
}

.row.toggle {
  margin-top: 1em;
  overflow: hidden; /* clear */
}

.editEntryScene .form-row-input {
  display: table;
  width: 100%;
  overflow: hidden;
}
.editEntryScene .date-input {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 24px;
}
.editEntryScene .date-input > * {
  width: auto;
  flex-grow: 1;
  border-radius: var(--border-radius);
  font-size: var(--font-size-small);
  text-align: center;
  background-color: transparent;
}
.editEntryScene .date-input > *:not(.selected) {
  color: var(--subtle-text-color);
}
.editEntryScene .date-input > *:not(.selected):hover,
.editEntryScene .date-input > *:not(.selected):focus {
  color: var(--main-text-color);
}
.editEntryScene .date-input input[type="date"] {
  color: var(--color-primary);
  cursor: pointer;
}
.editEntryScene .date-input button.selected ~ input[type="date"] {
  color: var(--subtle-text-color);
}
.editEntryScene .date-input button.selected ~ input[type="date"]:hover,
.editEntryScene .date-input button.selected ~ input[type="date"]:focus {
  color: var(--main-text-color);
}

.participantInput,
.newParticipantInput {
  display: flex;
  margin-bottom: 2px;
}
.participantInput,
.newParticipantInput,
.newParticipantInput .participant input {
  color: var(--subtle-text-color);
}
.participantInput > *,
.newParticipantInput > * {
  height: 44px;
  vertical-align: middle;
}
.participantInput.selected,
.newParticipantInput.selected,
.newParticipantInput.selected .participant input {
  color: inherit;
}
.participantInput.paid .participant,
.newParticipantInput.paid .participant input {
  font-weight: bold;
}
.participantInput .participant {
  padding-left: 12px;
  padding-right: 10px;
  flex-grow: 1;
  display: flex;
  align-items: center;
}
.newParticipantInput .participant {
  flex-grow: 1;
}
.participantInput .participationStatus,
.newParticipantInput .participationStatus {
  display: flex;
  text-align: right;
}
.participantInput button,
.newParticipantInput button {
  color: var(--subtle-text-color);
  background-color: transparent;
}
.participantInput button:hover,
.participantInput button:focus,
.newParticipantInput button:hover,
.newParticipantInput button:focus {
  color: var(--main-text-color);
}
.participantInput button.selected,
.newParticipantInput button.selected {
  color: var(--color-primary);
}
.participantInput .amountInput,
.newParticipantInput .amountInput {
  width: 70px;
}
.participantInput .amountInput input[type="number"],
.newParticipantInput .amountInput input[type="number"] {
  text-align: right;
  font-variant-numeric: tabular-nums;
}
.button-row {
  margin: 0 2%;
}
.participantsAllJoined {
  float: right;
}

.tabsScene .row.tabs {
  margin: 1.5em 0;
}
.tabsScene .row p {
  text-align: center;
}
.tabs button {
  position: relative;
  padding: 12px;
  font-weight: bold;
  text-align: left;
  line-height: 130%;
  border-radius: var(--border-radius);
  background: transparent;
}
.tabs button span {
  display: block;
  font-size: var(--font-size-small);
  font-weight: normal;
  color: var(--subtle-text-color);
}
.tabs button:hover,
.tabs button:focus {
  background-color: var(--color-highlight);
  color: var(--color-primary);
}
.tabs button:hover span,
.tabs button:focus span {
  opacity: 0.7;
}
.tabs button::after {
  content: "";
  width: 9px;
  height: 100%;
  position: absolute;
  top: 0;
  right: 10px;
  background: var(--subtle-text-color);
  mask-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg opacity='.5' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' xmlns='http://www.w3.org/2000/svg' height='15' width='9' version='1.1' xmlns:cc='http://creativecommons.org/ns%23' xmlns:dc='http://purl.org/dc/elements/1.1/'%3E%3Cpath d='m1.5 0-1 1 6.5 6.5-6.5 6.5 1 1 7.5-7.5z'/%3E%3C/svg%3E");
  mask-repeat: no-repeat;
  mask-position: center;
}

.create-form,
.import-form {
  position: relative;
}
.create-form input {
  text-overflow: ellipsis;
  margin-bottom: 8px;
  padding-right: 78px;
}

/* Subdue flow of creation and opening shared tabs in favor of highlighting existing tabs */
.create-form input,
.import-form input {
  background-color: transparent;
}
.create-form input:hover,
.create-form input:focus,
.create-form input:not(:placeholder-shown),
.emptycontent .create-form input,
.import-form input:hover,
.import-form input:focus,
.import-form input:not(:placeholder-shown) {
  background-color: var(--text-input-background-color);
  color: var(--main-text-color);
}
/* Only show button on focus */
.create-form button,
.import-form button {
  display: none;
}
.create-form input:focus ~ button,
.create-form input:not(:placeholder-shown) ~ button,
.emptycontent .create-form input ~ button,
.import-form input:focus ~ button,
.import-form input:not(:placeholder-shown) ~ button {
  display: inline-block;
}

.create-form button,
.import-form button {
  position: absolute;
  top: 0;
  right: 0;
  font-size: var(--font-size);
  background: var(--color-primary);
  color: var(--color-primary-opposite);
}

.summary {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.summary li {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 8px;
  width: 80px;
  height: 80px;
  border-radius: var(--border-radius-pill);
}
.summary li .amount {
  font-size: var(--font-size-large);
  font-weight: bold;
}
.summary li .account {
  font-size: var(--font-size-small);
  background-color: transparent !important;
  opacity: 0.7;
}

.transactions-heading {
  text-align: center;
  padding-top: 18px;
  padding-bottom: 0;
  margin-bottom: 0;
}
.mainScene {
  position: relative;
}
.transactions-heading-fixed {
  position: absolute;
  z-index: 1;
  left: 0;
  bottom: 0;
  margin: 0;
  width: 100%;
  padding: 20px 0 12px;
  background: linear-gradient(transparent, var(--main-background-color));
  text-shadow: 0 0 4px var(--main-background-color);
  cursor: pointer;
}

#transactions .transaction {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 12px 30px 12px 12px;
  min-height: 44px;
  cursor: pointer;
  background: right 10px center no-repeat;
  background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg opacity='.5' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' xmlns='http://www.w3.org/2000/svg' height='15' width='9' version='1.1' xmlns:cc='http://creativecommons.org/ns%23' xmlns:dc='http://purl.org/dc/elements/1.1/'%3E%3Cpath d='m1.5 0-1 1 6.5 6.5-6.5 6.5 1 1 7.5-7.5z'/%3E%3C/svg%3E");
}
#transactions .transaction:hover,
#transactions .transaction:focus {
  background-color: var(--color-highlight);
  color: var(--color-primary);
}
#transactions .transaction:hover .payments,
#transactions .transaction:focus .payments {
  opacity: 0.7;
}

#transactions .dategroup {
  padding: 28px 12px 8px;
  font-size: var(--font-size-small);
  color: var(--subtle-text-color);
}
#transactions .transaction .transaction-text {
  text-align: left;
}
#transactions .transaction .title {
  line-height: 130%;
  width: 100%;
  padding: 0;
  font-weight: bold;
}
#transactions .transaction .total {
  align-self: center;
  white-space: nowrap;
  padding: 0;
  vertical-align: middle;
  text-align: right;
  font-variant-numeric: tabular-nums;
}
#transactions .transaction .payments {
  margin: 4px 0;
  font-size: var(--font-size-small);
  font-weight: normal;
  color: var(--subtle-text-color);
  font-variant-numeric: tabular-nums;
}
#transactions .transaction .payments em {
  font-style: normal;
  color: var(--main-text-color);
}

.total-sum {
  color: var(--subtle-text-color);
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 32px 30px 16px 16px;
  text-align: right;
  font-variant-numeric: tabular-nums;
}

.error-message {
  font-size: var(--font-size-small);
  color: var(--color-error);
}

.import-form .error-message {
  margin-top: 4px;
  text-align: center;
}

.errorScene p {
  text-align: center;
}

.loader {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: var(--font-size-large);
}
.app-loader {
  position: absolute;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  background: var(--main-background-color);
  transition: opacity 0.5s;
}
.app-loader.hidden {
  opacity: 0;
}
.tab-loader {
  height: 70%;
}
.loader div {
  width: 68px;
  height: 68px;
  background: url(./images/loader.svg);
}
.loader h1 {
  display: block !important;
}
.app-loader div {
  margin-top: -68px; /* height of loader icon */
  margin-bottom: 6px;
}

.load-error {
  text-align: center;
  padding: 2em;
}
.load-error img {
  width: 44px;
  border-radius: var(--border-radius-pill);
  padding: 6px;
}
.load-error h2 {
  font-size: var(--font-size-large);
  margin: 0 0 2em;
}
.load-error button {
  margin-top: 2em;
}
