@font-face {
	font-family: SourceSansPro-Regular;
	src: url('../fonts/SourceSansPro-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: SourceSansPro-Semibold;
	src: url('../fonts/SourceSansPro-Semibold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

body {
	margin: 0;
	color: #131313;
	font-size: 18px;
	background: #f2f2f2;
	font-family: SourceSansPro-Regular, sans-serif;
}

th {
	text-align: left;
	font-weight: normal;
}

button {
	font: inherit;
	background: #ddd;
	color: inherit;
	border: none;
	box-sizing: border-box;
	min-height: 44px;
	min-width: 44px;
	padding: 10px;
	margin: 0;
	cursor: pointer;
}
button[disabled] {
	cursor: default;
	color: #777;
}
button.full-width,
button.full-width-margin {
	display: block;
	width: 100%;
}
button.full-width-margin {
	width: 96%;
	margin-left: 2%;
	margin-right: 2%;
}
button.create {
	background: #44f;
	color: #fff;
	border-radius: 3px;
}
button.selected {
	background: #bbb;
}
.editEntryScene .header button.left {
	padding: 0;
	color: #666;
	font-size: 28px;
	line-height: 100%;
}

.editEntryScene .header button.right {
	position: fixed;
	right: 0;
	z-index: 10;
	margin: 5px;
	box-shadow: 0 0 10px rgba(100,100,100,.5);
}
@media (min-width: 500px) {
	.editEntryScene .header button.right {
	    right: calc(50% - 250px);
	}
}

.editEntryScene .button-row {
	margin-top: 2em;
	text-align: center;
}
.editEntryScene button.all-joined {
	float: right;
}
.tab {
	display: block;
	width: 50%;
	float: left;
}
.tab.active {
	background: inherit;
	color: inherit;
	font-family: SourceSansPro-Semibold, sans-serif;
}

.fake-link {
	color: #bbb;
	text-decoration: underline;
	cursor: pointer;
}
.fake-link.delete {
	color: #f44;
}

input[type=text],
input[type=date],
input[type=number] {
	box-sizing: border-box;
	width: 100%;
	background: #fff;
	box-shadow: none;
	border: none;
	border-radius: 0;
	color: #000;
	min-height: 44px;
	min-width: 44px;
	padding: 10px;
	font: inherit;
	margin: 0;  /* Safari has 2px */
}

#scenes {
	max-width: 500px;
	min-width: 320px;
	margin: 0 auto;
}
@media (min-width: 500px) and (min-height: 780px) {
	#scenes {
		margin-top: 4vh;
		margin-bottom: 4vh;
	}
}

.header {
	width: 100%;
	height: 44px;
	margin-bottom: 1em;
	position: relative;
}
.header h2 {
	position: absolute;
	top: 7px;
	margin-left: 12px;
	font-size: 22px;
}
.header #logo {
	width: 44px;
}

.scene.hidden {
	display: none;
}

.scene h2 {
	margin-top: 0;
	text-align: center;
	display: inline-block;
	font-weight: normal;
}

.empty-info,
.share-info {
	padding: 10px;
}
.empty-info p,
.share-info p {
	margin: 0 0 1em;
}
.share-info {
	margin-top: 1em;
	opacity: .5;
	text-align: center;
}

.form-row {
	padding: 3px 0;
	position: relative;
}
.form-row-input {
	position: relative;
}

.row-label {
	margin: 1em 2% 0.3em;
}

.editEntryScene .form,
.editEntryScene .button-row,
.listScene table {
	margin-bottom: 1em;
}

table {
	width: 100%;
	table-layout: fixed;
}
td, th {
	padding: .4em;
	overflow: hidden;
	text-overflow: ellipsis;
}
td.amount {
	text-align: right;
}

.row.toggle {
	margin-top: 1em;
	overflow: hidden;  /* clear */
}

.editEntryScene .form-row-input {
	display: table;
	width: 100%;
	overflow: hidden;
}
.participantInput,
.newParticipantInput {
	color: #999;
	display: table-row;
	width: 100%;
}
.participantInput > *,
.newParticipantInput > * {
	height: 44px;
	vertical-align: middle;
	border-bottom: 1px solid #f2f2f2;  /* body background */
}
.participantInput.selected,
.newParticipantInput.selected {
	color: inherit;
}
.participantInput .participant {
	display: table-cell;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 10px;
}
.newParticipantInput .participant {
	display: table-cell;
	width: 50%; /* make input field use more available width */
}
.participantInput .participationStatus,
.newParticipantInput .participationStatus {
	display: table-cell;
	text-align: right;
	width: 210px;
}
.participantInput .joinedButtonWrapper,
.newParticipantInput .joinedButtonWrapper {
	display: inline-block;
	width: 70px;  /* estimate auto width so we can use transition */
	/* Safari has issues when transitioning */
	/*-webkit-transition: width .3s;*/
	/*-moz-transition: width .3s;*/
	/*transition: width .3s;*/
}
.participantInput .joinedButtonWrapper.hidden,
.newParticipantInput .joinedButtonWrapper.hidden {
	width: 0;
}
.participantInput button,
.newParticipantInput button {
	color: #777;
}
.participantInput button.selected,
.newParticipantInput button.selected {
	background: #bbb;
	color: inherit;
}
.participantInput .amountInput,
.newParticipantInput .amountInput {
	display: inline-block;
	width: 70px;
	/* Safari has issues when transitioning */
	/*-webkit-transition: width .3s;*/
	/*-moz-transition: width .3s;*/
	/*transition: width .3s;*/
}
.participantInput .amountInput.hidden,
.newParticipantInput .amountInput.hidden {
	width: 0;
}
.participantInput .amountInput input[type=number],
.newParticipantInput .amountInput input[type=number] {
	text-align: right;
}
.button-row {
	margin: 0 2%;
}
.participantsAllJoined {
	float: right;
}


.tabsScene .row.tabs {
	margin: 1em 0;
}
.tabsScene .row p {
	text-align: center;
}
.tabs button {
	border: 0 solid #ddd;
	border-bottom-width: 1px;
	background: transparent url('../images/arrow.svg') right center no-repeat;
	text-align: left;
}
.tabs button:first-child {
	border-top-width: 1px;
}

.create-form button,
.import-form button {
	position: relative;
	float: right;
	top: -44px;
	margin-bottom: -44px;
}

#summary table {
	border-collapse: collapse;
}
#summary tr {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 44px;
}
#summary th,
#summary td {
	padding: 10px;
}

#transactions .transaction {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 8px 35px 8px 10px;
	border-top: 1px solid #ddd;
	min-height: 44px;
	cursor: pointer;
	background: url('../images/arrow.svg') right center no-repeat;
}
#transactions .transaction:first-child {
	border-top: none;
}
#transactions .dategroup {
	background: #ddd;
	margin: 8px 0 0;
	padding: 2px 10px;
	font-size: 12px;
}
#transactions .transaction table {
	table-layout: auto;
	border-collapse: collapse;
	width: 100%;
	margin: 0;
}
#transactions .transaction .title {
	line-height: 1.1em;
	width: 100%;
	padding: 0;
}
#transactions .transaction .total {
	line-height: 1.1em;
	white-space: nowrap;
	padding: 0;
	vertical-align: middle;
}
#transactions .transaction .payments {
	margin-top: 2px;
	font-size: 12px;
}

/* remove click outlines */
* {
	outline: none;
}
::-moz-focus-inner {
	border: 0;
}

.error-message {
	font-size: 80%;
	color: #f31;
}

.import-form .error-message {
	margin-top: 4px;
	text-align: center;
}

.loader {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 22px;
}
.app-loader {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	background: #f2f2f2;
	transition: opacity .5s;
}
.app-loader.hidden {
	opacity: 0;
}
.tab-loader {
	height: 70vh;
}
.loader div {
	width: 68px;
	height: 68px;
	background: url(../images/loader.svg);
}
.app-loader div {
	margin-top: -68px;  /* height of loader icon */
	margin-bottom: 6px;
}
