@font-face {
	font-family: SourceSansPro;
	src: url('../fonts/sourcesanspro-regular.otf.woff2') format('woff2'),
         url('../fonts/sourcesanspro-regular.otf.woff') format('woff');
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: SourceSansPro;
	src: url('../fonts/sourcesanspro-semibold.otf.woff2') format('woff2'),
         url('../fonts/sourcesanspro-semibold.otf.woff') format('woff');
	font-weight: 600;
	font-style: normal;
}

body {
	margin: 0;
	color: #131313;
	font-size: 18px;
	background: #f2f2f2;
	font-family: SourceSansPro, sans-serif;
}

table {
	width: 100%;
	border-collapse: collapse;
}
td, th {
	padding: 10px 12px;
}
th {
	text-align: left;
	font-weight: normal;
}
td.amount {
	text-align: right;
}

button {
	font: inherit;
	background: #ddd;
	color: inherit;
	border: none;
	box-sizing: border-box;
	min-height: 44px;
	min-width: 44px;
	padding: 10px 12px;
	margin: 0;
	border-radius: 5px;
	cursor: pointer;
}
button[disabled] {
	cursor: default;
	color: #777;
}
button.selected {
	background: #bbb;
}

select {
	cursor: pointer;
	margin: 0;
	padding: 12px;
	padding-right: 24px;
	color: #131313;
	border-radius: 5px;
	border: none;
	background-color: #ddd;
	background-image:
			linear-gradient(45deg, transparent 50%, #777 50%),
			linear-gradient(135deg, gray 50%, transparent 50%);
	background-position:
			calc(100% - 22px) calc(1em + 5px),
			calc(100% - 17px) calc(1em + 5px);
	background-size:
			5px 5px,
			5px 5px;
	background-repeat: no-repeat;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-appearance: none;
	-moz-appearance: none;
	/* Chrome needs this for some reason … */
	font-size: 18px !important;
	font-family: SourceSansPro, sans-serif !important;
}
select:-moz-focusring {
	color: transparent;
	text-shadow: 0 0 0 #000;
}

button.full-width,
select.full-width {
	display: block;
	width: 100%;
}

button.create {
	padding: 0 13px;
	background: #44f;
	color: #fff;
    z-index: 10;
}

.header button.create {
	position: fixed;
	right: 0;
	top: 0;
	margin: 5px;
    box-shadow: 0 0 10px rgba(100,100,100,.5);
	border-radius: 100px; /* Pill-style rounded button */
}
/* larger '+' Plus in button */
.mainScene .header button.create {
	font-size: 30px;
}

.header button.left {
	background: transparent;
	opacity: .5;
	padding: 16px 10px
}
.header button.left:hover,
.header button.left:focus {
	opacity: 1;
}

.editEntryScene .button-row {
	margin-top: 2em;
	text-align: center;
}
.editEntryScene button.all-joined {
	float: right;
}
.tab {
	display: block;
	width: 50%;
	float: left;
}
.tab.active {
	background: inherit;
	color: inherit;
	font-weight: bold;
}

.fake-link {
	color: #bbb;
	text-decoration: underline;
	cursor: pointer;
}
.fake-link.delete {
	color: #f44;
}

input[type=text],
input[type=date],
input[type=number] {
	box-sizing: border-box;
	width: 100%;
	background: #fff;
	box-shadow: none;
	border: none;
	border-radius: 5px;
	color: #000;
	min-height: 44px;
	min-width: 44px;
	padding: 10px 12px;
	font: inherit;
	margin: 0;  /* Safari has 2px */
}

#scenes {
	max-width: 500px;
	min-width: 320px;
	margin: 0 auto;
}
@media (min-width: 500px) and (min-height: 780px) {
	#scenes {
		margin-top: 4vh;
		margin-bottom: 4vh;
	}
	.header button.create {
		margin-top: calc(4vh + 5px);
	}
}
@media (min-width: 500px) {
	.header button.create {
		right: calc(50% - 250px);
	}
}

.header {
	width: 100%;
	height: 56px;
	margin-bottom: .5em;
	position: relative;
}
.header h2 {
	position: absolute;
	font-size: 22px;
	left: 50%;
	transform: translateX(-50%);
	padding: 14px 0;
	top: 0;
	margin: 0;
	max-width: 66%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
.header #logo {
	width: 44px;
	position: absolute;
	left: 50%;
	transform: translateX(-200%);
	border-radius: 50px;
	padding: 6px;
}

.scene.hidden {
	display: none;
}

.empty-info,
.share-info {
	padding: 10px;
}
.empty-info p,
.share-info p {
	margin: 0 0 1em;
}
.share-info {
	margin-top: 1em;
	opacity: .5;
	text-align: center;
}

.form-row {
	padding: 3px 0;
	position: relative;
}
.form-row-input {
	position: relative;
}

.form-row-input.description input {
	padding-right: 90px;
	text-overflow: ellipsis;
}

.form-row-input.transaction-type {
	position: absolute;
	right: 0;
	top: 0;
	width: auto !important;
}
.form-row-input.transaction-type select {
	margin-top: 3px;
	font-size: 80% !important;
	opacity: .5;
	background-color: transparent;
	border: none;
}

.direct-transaction {
	padding: 24px 0;
}
.direct-transaction-amount {
	display: flex;
	justify-content: center;
	margin: 12px 6px;
}
.direct-transaction-amount svg {
	display: block;
	padding: 16px 30px 8px;
	opacity: .5;
}
.direct-transaction-amount input {
	width: 70px;
	text-align: center;
}

.row-label {
	margin: 1em 2% 0.3em;
}

/* Whitespace to sides */
.editEntryScene .form,
.tabsScene {
	margin-left: 5px;
	margin-right: 5px;
}

.editEntryScene .form,
.editEntryScene .button-row,
.listScene table {
	margin-bottom: 1em;
}

.row.toggle {
	margin-top: 1em;
	overflow: hidden;  /* clear */
}

.editEntryScene .form-row-input {
	display: table;
	width: 100%;
	overflow: hidden;
}
.participantInput,
.newParticipantInput {
	display: flex;
	margin-bottom: 2px;
}
.participantInput,
.newParticipantInput,
.newParticipantInput .participant input {
	color: #999;
}
.participant input,
.joinedButtonWrapper button,
.paid-button.selected {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
}
.newParticipantInput .joinedButtonWrapper button,
.newParticipantInput .paid-button,
.participantInput .paid-button:not(.selected),
.amountInput input {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
}
.participantInput > *,
.newParticipantInput > * {
	height: 44px;
	vertical-align: middle;
}
.participantInput.selected,
.newParticipantInput.selected,
.newParticipantInput.selected .participant input {
	color: inherit;
}
.participantInput.paid .participant,
.newParticipantInput.paid .participant input {
	font-weight: bold;
}
.participantInput .participant {
	padding-left: 12px;
	padding-right: 10px;
	flex-grow: 1;
	display: flex;
	align-items: center;
}
.newParticipantInput .participant {
	flex-grow: 1;
}
.participantInput .participationStatus,
.newParticipantInput .participationStatus {
	display: flex;
	text-align: right;
}
.participantInput .joinedButtonWrapper.hidden,
.newParticipantInput .joinedButtonWrapper.hidden {
	width: 0;
}
.participantInput button,
.newParticipantInput button {
	color: #777;
}
.participantInput button.selected,
.newParticipantInput button.selected {
	background: #bbb;
	color: inherit;
}
.participantInput .amountInput,
.newParticipantInput .amountInput {
	width: 70px;
}
.participantInput .amountInput.hidden,
.newParticipantInput .amountInput.hidden {
	width: 0;
}
.participantInput .amountInput input[type=number],
.newParticipantInput .amountInput input[type=number] {
	text-align: right;
}
.button-row {
	margin: 0 2%;
}
.participantsAllJoined {
	float: right;
}

.tabsScene .row.tabs {
	margin: 1em 0;
}
.tabsScene .row p {
	text-align: center;
}
.tabs button {
	border-top: 1px solid #e5e5e5;
	padding: 16px 12px;
	border-radius: 0;
	background: transparent right 10px center no-repeat;
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg opacity='.5' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' xmlns='http://www.w3.org/2000/svg' height='15' width='9' version='1.1' xmlns:cc='http://creativecommons.org/ns%23' xmlns:dc='http://purl.org/dc/elements/1.1/'%3E%3Cpath d='m1.5 0-1 1 6.5 6.5-6.5 6.5 1 1 7.5-7.5z'/%3E%3C/svg%3E");
	text-align: left;
}
.tabs button:last-child {
	border-bottom: 1px solid #e5e5e5;
}

.create-form input {
	padding-right: 78px;
	text-overflow: ellipsis;
}

.create-form button,
.import-form button {
	position: relative;
	float: right;
	top: -44px;
	margin-bottom: -44px;
	font-size: 18px;
}

#summary tr {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	height: 56px;
}

.transactions-heading {
	text-align: center;
	padding-top: 18px;
	padding-bottom: 0;
	margin-bottom: 0;
}
.transactions-heading-fixed {
	position: fixed;
	left: 0;
	bottom: 0;
	margin: 0;
	width: 100%;
	padding: 20px 0 12px;
	background: linear-gradient(rgba(242, 242, 242, 0), #f2f2f2);
	text-shadow: 0 0 4px #f2f2f2;
	cursor: pointer;
}
.transactions-heading-fixed a {
	color: #000;
	text-decoration: none;
	margin-left: -17px;
}

#transactions .transaction {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	padding: 12px 30px 12px 12px;
	border-top: 1px solid #e5e5e5;
	min-height: 44px;
	cursor: pointer;
	background: right 10px center no-repeat;
	background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0' encoding='UTF-8' standalone='no'%3F%3E%3Csvg opacity='.5' xmlns:rdf='http://www.w3.org/1999/02/22-rdf-syntax-ns%23' xmlns='http://www.w3.org/2000/svg' height='15' width='9' version='1.1' xmlns:cc='http://creativecommons.org/ns%23' xmlns:dc='http://purl.org/dc/elements/1.1/'%3E%3Cpath d='m1.5 0-1 1 6.5 6.5-6.5 6.5 1 1 7.5-7.5z'/%3E%3C/svg%3E");
}
#transactions .transaction:first-child {
	border-top: none;
}
#transactions .dategroup {
	padding: 26px 12px 6px;
	font-size: 12px;
	opacity: .5;
}
#transactions .transaction .title {
	line-height: 1.1em;
	width: 100%;
	padding: 0;
}
#transactions .transaction .total {
	line-height: 1.1em;
	white-space: nowrap;
	padding: 0;
	vertical-align: middle;
}
#transactions .transaction .payments {
	margin-top: 2px;
	font-size: 12px;
}

.error-message {
	font-size: 80%;
	color: #f31;
}

.import-form .error-message {
	margin-top: 4px;
	text-align: center;
}

.errorScene p {
	text-align: center;
}

.loader {
	height: 100vh;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-size: 22px;
}
.app-loader {
	position: absolute;
	z-index: 1000;
	top: 0;
	left: 0;
	width: 100%;
	background: #f2f2f2;
	transition: opacity .5s;
}
.app-loader.hidden {
	opacity: 0;
}
.tab-loader {
	height: 70vh;
}
.loader div {
	width: 68px;
	height: 68px;
	background: url(../images/loader.svg);
}
.app-loader div {
	margin-top: -68px;  /* height of loader icon */
	margin-bottom: 6px;
}

.load-error {
	text-align: center;
	padding: 2em;
}
.load-error img {
	width: 44px;
	border-radius: 50px;
	padding: 6px;
}
.load-error h2 {
	font-size: 22px;
	margin: 0 0 2em;
}
.load-error button {
	margin-top: 2em;
}
